#clContentContainer {
    display:flex;
    justify-content: space-evenly;
}

#cardContainer {
    width:85%;
    padding-top:20px;
    padding-left:10px;
    
}

#courseTitle {
    padding:5px;
}
#courseButtonTop {
    display:flex;
    justify-content: flex-end;
    flex-direction:row;
    margin-bottom:5px;
    width: 90%;
}

#courseButtonTop div{
    display:flex;
    flex-direction:row;
}

#courseButtonTop i {
    padding:5px;
    height:15px;
}
.courseCard {
    padding:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px black solid;
    width: 85%;
}

.courseCard:hover {
    background-color: rgb(230, 230, 230);
}

.courseImage {
    display:flex;
    align-items:center;
    
}

.courseImage img{
    height:100px;
    width:100px;
    border-radius:50%;
}

.courseDetails {
    width:350px;
    text-align:center;
}

#courseRight {
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.courseBtn {
    display:flex;
    flex-direction: row;
    padding-left:20px;
}

.elementDisplay {
    display:flex;
}

.elementHidden {
    display:none;
}


.courseStudents {
    display:flex;
    font-size:1.3em;
    align-self:flex-end;
}

.fa-plus, .fa-edit, .fa-trash{
    font-size:1.5em;
    margin-right:5px;
    display:flex;
    align-items:flex-end;
}

#announce {
    margin-top:125px;
    border: 1px black solid;
    padding:10px;
    width:200px;
}