#sideBar {
    height: 100vh;
}
#courseWrapper {
    padding:20px;
    width: 80%;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
}

h1, h2{
    text-align: center;
}

#displayCourse {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 15px;
}

#coursePic{
    align-items: center;
    width:200px;
    height:200px;
    border-radius: 50%;
    border-color: black;
    border: 1px solid;
}