#topContainer {
    display:flex;
    justify-content: space-between;
    padding:5px;
}

#clContentContainer {
    display:flex;
    margin-top:20px;
    width:65%;
    height:100%;
    margin-bottom:40px;
    flex-direction:column;
}

#cardContainer {
    padding-left:10px;
    width:95%;
}

#cardContainer h1{
    padding:5px;
    margin:0;
    text-align:center;
}

#addCourse {
    align-self:flex-end;
    padding:20px;
    margin-right:10px;
    margin-top:15px;
    
}


.courseCard {
    padding:10px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    border: 1px black solid;

}
.courseCard a{
    font-weight:bold;
    font-size:1.3em;
    color:black;
    
}

.courseImage {
    display:flex;
    align-items:center;
    
}

.courseImage img{
    height:100px;
    width:100px;
    border-radius:50%;
}

.courseDetails {
    text-align:center;
}

#courseRight {
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.courseBtn {
    display:flex;
    flex-direction: row;
    padding-left:30px;
}


.elementDisplay {
    display:flex;
}

.courseStudents {
    display:flex;
    font-size:1.3em;
    align-self:flex-end;
}

.fa-plus, .fa-edit, .fa-trash{
    margin-right:5px;
    display:flex;
    align-items:flex-end;
    font-size:1.5em;
}

#announce {
    margin-top:125px;
    border: 1px black solid;
    padding:10px;
    width:200px;
}