#courseWrapper {
    width:80%;
    margin:20px;
    padding-top:20px;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
}

h1, h2{
    text-align: center;
}

#displayCourse {
    width:96%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 15px;
}

#coursePic{
    align-items: center;
    width:200px;
    height:200px;
    border-radius: 50%;
    border-color: black;
    border: 1px solid;
}

#displayPosts {
    margin-top:10px;
    display:flex;
    width: 99%; 
    flex-direction: column;
}

#postFormDiv {
    margin-top:10px;
    width:99%;
    border: 1px solid black;
}

#postForm {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#postFormShow {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:10px;
    margin-top:-5px;
}
#pfHide {
    display:none;
}

#pfTitleDiv {
    padding:10px;
    display:flex;
    flex-direction: column;
    text-align:center;
}

#pfTitleDiv label {
    padding:10px;
}

#pfTitleDiv input{
    align-self:center;
    width:400px;
    height:20px;
}

#pfContentDiv label{
    display:flex;
    flex-direction: column;
    text-align:center;
    margin:10px;
}

#pfContentInput {
    width:400px;
    height:100px;
    font-family: 'Open Sans', Arial,  sans-serif;
}

#pfTypeDiv {
    padding:10px;
}

#pfDueDiv {
    margin:10px;
}

#pfSubmitBtn {
    margin:10px;
}

.postFiles li{
    list-style:none;
    margin-left:0;
    
}

.postContainer {
    margin-top:10px;
    border: 1px solid black;
}

.postHeader {
    display:flex;
    justify-content: center;
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    margin:0;
}

.postHeader h2{
    margin:0;
}

.postTitleDiv {
    display:flex;
    flex-direction: column;
}
.postEditDiv {
    display:flex;
    justify-content: center;
}

.postContent {
    display:flex;
    flex-direction:column;
    padding: 15px;   
}

#pfDetails {
    display:flex;
    text-align:center;
    flex-direction: column;
}
#postAttachContainer {
    text-align:center;
}

.postAttach {
    padding:10px;
}

.postAttach label{
    padding-left:5px;
}
#hiddenid {
    display:none;
}

.dueDate {
    text-align:center;
}