body {
    background-image: url("../images/studentsLaughing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

nav {
    width: 20%;
}

footer {
    display: none;
}

#infoSection {
    font-size: 0.8em;
    margin-top:86%;
    width: 75%;
}

#infoSection p {
    margin:0px;
}