body {
    background-image: url("../images/studentsLaughing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

nav {
    width: 20%;
}

footer {
    display: none;
}

#infoSection {
    font-size: 0.8em;
    padding-bottom:10px;
}

#infoSection p {
    margin:0px;
}

/* ///////////////////////  Media Queries   /////////////////////// */

/* Small Phones Portrait */
@media screen and (max-width: 768px) and (min-height: 568px){
    nav {
        width:100%;
    }

    #loginForm {
        align-items:center;
        font-size:1.2em;
        background-color: #25282A;
        padding:20px;
        padding-top:18px;
        border-radius: 20px;    
    }

    #infoSection {
        display:flex;
        flex-direction:column;
        align-items: center;
        position:absolute;
        bottom: 0px;
        width:100%;
        background-color: #25282A;
        
    }

    #sideBar{
        background:none;
        width:100%;
    }

    body {
        background-position:80%;
        background-image: url("../images/studentsLaughing.jpg"); 
        backdrop-filter:blur(5px);
        
        
    }

    #loggedOut {
        justify-content: space-around;
    }
}

/* Small Phones Landscape */
@media screen and (min-width: 568px) 
and (max-width: 824px) 
and (min-height: 280px)
and (max-height: 540px) {

    nav {
        width:100%;
        font-size: 0.7em;
    }

    #loginForm {
        font-size:0.7em;
        background-color: #25282A;
        border-radius: 8px; 
        width: 100%;
        flex-direction:column;
        padding-top:0;
        padding:10px;
        margin-top:23%;
    }

    #infoSection {
        display:flex;
        flex-direction:column;
        align-items: center;
        position:absolute;
        bottom: 0px;
        width:100%;
        font-size:0.3em;
        background-color: #25282A;
        
    }

    #sideBar{
        background:none;
        width:100%;
    }

    #bgImage {
        background-image:url("../images/studentsLaughing.jpg"); 
        filter: blur(3px);
    }

    body {
        background-position:80%;
        background-image: url("../images/studentsLaughing.jpg"); 
        backdrop-filter:blur(5px);
        
        
    }

    #loggedOut {
        margin:6px;
    }
}

/* Galaxy Fold Landscape */
@media screen and (min-width: 652px) 
and (max-width: 654px) 
and (min-height: 279px) 
and (max-height: 281px) {
    nav {
        width:100%;
        font-size: 0.7em;
    }

    #loginForm {
        font-size:0.7em;
        background-color: #25282A;
        border-radius: 8px; 
        width: 100%;
        flex-direction:column;
        padding-top:0;
        padding:10px;
        margin-top: 12%;
    }

    #loginForm input {
        height:22px;
    }

    #infoSection {
        display:flex;
        flex-direction:column;
        align-items: center;
        position:absolute;
        bottom: 0px;
        width:100%;
        font-size:0.3em;
        background-color: #25282A;
        
    }

    #sideBar{
        background:none;
        width:100%;
    }

    #bgImage {
        background-image:url("../images/studentsLaughing.jpg"); 
        filter: blur(3px);
    }

    body {
        background-position:80%;
        background-image: url("../images/studentsLaughing.jpg"); 
        backdrop-filter:blur(5px);
        
        
    }

    #loggedOut {
        margin:6px;
    }
}




/* Ipad*/
@media screen and (min-width: 768px) 
and (max-width: 768px) 
and (min-height: 1024px) 
and (max-height: 1024px) {

    #loginForm {
        align-items:center;
        font-size:1.6em;
        background-color: #25282A;
        padding:28px;
        padding-top:18px;
        border-radius: 20px;    
    }

    #infoSection {
        display:flex;
        flex-direction:column;
        align-items: center;
        position:absolute;
        bottom: 0px;
        width:100%;
        background-color: #25282A;
        
    }

    #sideBar{
        background:none;
        width:100%;
    }

    #bgImage {
        background-image:url("../images/studentsLaughing.jpg"); 
        filter: blur(3px);
    }

    body {
        background-position:80%;
        background-image: url("../images/studentsLaughing.jpg"); 
        backdrop-filter:blur(5px);
        
        
    }

    #loggedOut {
        justify-content: space-around;
    }
}


/* Tablets */
@media screen and (min-width: 1023px) 
and (max-width: 1367px) 
and (min-height: 600px) 
and (max-height: 1366px) {
    nav {
        width:100%;
    }
    #loginForm {
        align-items:center;
        font-size:1.6em;
        background-color: #25282A;
        padding:50px;
        padding-top:18px;
        border-radius: 20px;    
    }

    #infoSection {
        display:flex;
        flex-direction:column;
        align-items: center;
        position:absolute;
        bottom: 0px;
        width:100%;
        background-color: #25282A;
        font-size: 1em;
        
    }

    #sideBar{
        background:none;
        width:100%;
    }

    #bgImage {
        background-image:url("../images/studentsLaughing.jpg"); 
        filter: blur(3px);
    }

    body {
        background-position:80%;
        background-image: url("../images/studentsLaughing.jpg"); 
        backdrop-filter:blur(5px);
        
        
    }

    #loggedOut {
        justify-content: space-around;
    }
}

/* Surface Duo Portrait*/
@media screen and (min-width: 720px) 
and (max-width: 720px) 
and (min-height: 1114px) 
and (max-height: 1114px) {
    nav {
        width:100%;
    }
    #loginForm {
        align-items:center;
        font-size:1.6em;
        background-color: #25282A;
        padding:50px;
        padding-top:10px;
        border-radius: 20px;    
    }

    #infoSection {
        display:flex;
        flex-direction:column;
        align-items: center;
        position:absolute;
        bottom: 0px;
        width:100%;
        background-color: #25282A;
        font-size: 1em;
        
    }

    #sideBar{
        background:none;
        width:100%;
        align-items: stretch;
    }

    #bgImage {
        background-image:url("../images/studentsLaughing.jpg"); 
        filter: blur(3px);
    }

    body {
        background-position:80%;
        background-image: url("../images/studentsLaughing.jpg"); 
        backdrop-filter:blur(5px);
        
        
    }

    #loggedOut {
        margin-top:175px;
        justify-content: stretch;
    }
}

/* Surface Duo Portrait*/
@media screen and (min-width: 1114px) 
and (max-width: 1114px) 
and (min-height: 720px) 
and (max-height: 720px) {
    nav {
        width:100%;
    }
    #loginForm {
        margin-left:600px;
    }

    #infoSection {
        align-items:flex-end;
        padding-right:10px;
    }
    #bgImage {
        background-image:url("../images/studentsLaughing.jpg"); 
        filter: blur(3px);
    }


}
