@font-face{
    font-family: 'Mulish';
    src: url('./fonts/Mulish/static/Mulish-Light.ttf') format('truetype');
    font-weight: 200;
}

@font-face{
    font-family: 'Mulish Bold';
    src: url('./fonts/Mulish/static/Mulish-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face{
    font-family: 'Open Sans';
    src: url('./fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face{
    font-family: 'Open Sans Bold';
    src: url('./fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial,  sans-serif;

}
#mainContainer {
    display : flex;
    padding-top: 25px;
    padding-bottom: 63px;
    height: 100%;
    /* font-family: 'Open Sans', Arial,  sans-serif; */
}
.menuTitle {
    font-family: 'Mulish', Arial, sans-serif;
}
.menuTitleBold {
    font-family: 'Mulish Bold', Arial, sans-serif;
}

.title{
    font-family: 'Open Sans Bold', Arial, sans-serif;
}

#sideBar {
    /* width: 350px; */
    width: 20%;
    background-color: #25282A ;
    color: white;
    margin-top: 45px;
    padding-top: 10px;

}
#sideBar  + div {
    overflow: auto;
}
/* logged out */
#loginForm {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#checkBox {
    display: flex;
}

#profilePic {
    border-radius: 50%;
    width: 30%;
}
#loggedOut {
    height: 100vh;
    align-items: stretch;
}

/* I need to stretch out everything */
/* #infoSection {
    height: 100%;
    background-color: yellow;
    display: flex;
    align-items: flex-end;
} */

/* logged in */
#loggedInItems {
    border: 1px solid white;
}
#loggedInMenu >a {
    text-decoration: none;
    color: white;
    
}
.fa-adjust {
    color: white;
    font-size: 30px;
}
/* nav bar, duck logo & company name  */
nav {
    position: absolute;
    width: 100%;
    display: flex;
    height: 10vh;
    background-color: #0C51A1;
    color: #FFFFFF;
    font-size: .5em;
}

nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#duckLogo {
    border-radius: 100%;
    height: 75%;
    margin: 4.5%;
    margin-left: 10%;
}

#companyName {
    font-size: 1em;
    justify-content: center;
    align-items: center;
}

/* footer info */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    height: 9vh;
    background-color: #2F3033;
    justify-content: space-between;
    align-items: center;
}

footer > div {
    font-size: .75em;
    color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
}

#leftFooterDiv {
    color: yellow;
}
