#wrapper{
    display: flex;
    margin-top: 10px;
} 
#profileImg img{
    width:20%;
    border-radius: 50%;
    border-color: black;
    border: 1px solid;
}

#profileInfor{
    margin-left: 60px;
    margin-top: 60px;
    margin-right:40px;
    width: 60%;
}

#form{
    margin-top: 50px;
}
#profileInfor p{
   background:lightblue;
   padding: 4px;
}
#inputNone{
    display: none;
    margin-right: 60px;
    box-shadow: 3px 3px 3px lightslategray;
    border-radius: 10px;
    padding: 10PX;
}
#error{
    color: tomato;
}
.success{
    color: chartreuse;
}
button{
    color: white;
    background: blue;
    margin-left: 20px;
}
#submitButton{
    display: none;
}

input{
    font-family: 'FontAwesome';
    padding: 10px;
    border-radius: 6px;
    border: none;
    border-bottom: 1px solid lightgray;
}

input:hover{
    outline:1px solid dodgerblue;
}
