.contentHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: red;
}

table{
    border-collapse:collapse ;
    
}

th{
  font-weight: bolder;
}

th , td{
    border: 3px;
    border-style: groove;
    padding: 10px;
    font-size: 19px;
}
#mainContent{
    width:80%;
    height: 100vh;
    margin-top: 50px;
}

tr a{
    text-decoration: none;
    padding: 10px;
}

tbody tr:hover{
    background: lightgray;
}

form.newuser button{
    background: indigo;
    color: ivory;
    outline: none;
    padding: 10px;
}

#filter{
    font-size: 16px;
    padding: 12px 20px 12px 40px;
  
}

.contentBody{
    margin-left: 20px;
}
/* 
#no{
    display:none;
    color: red;
} */