.contentHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

table{
    border-collapse:collapse ;
}

tr th{
  font-weight: bolder;
}

th ,td{
    border: 3px;
    border-style: groove;
    padding: 10px;
    font-size: 19px;
}
#mainContent{
    margin: 30px 20px;
}

tr a{
    text-decoration: none;
    padding: 10px;
}

tbody tr:hover{
    background: lightgray;
}

form button{
    background: indigo;
    color: ivory;
    outline: none;
    padding: 10px;
}
